@font-face {
  font-family: "konnect";
  src: url("../public/assets/fonts/KonnectRegular.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.border-green-ww {
  @apply border border-lightGreen-100 hover:bg-lightGreen-200 py-2.5 px-5 rounded-md text-lightGreen-100 hover:text-white transition duration-500 ease-in-out;
}

.links {
  @apply font-medium hover:font-bold transition duration-500 ease-in-out;
}

.main-title {
  @apply text-7.5xl
}